name: portone_flutter_v2
description: A module for integrating PortOne V2 payment service in Flutter App.

version: 1.2.1
repository: https://github.com/AndrewDongminYoo/portone_flutter

environment:
  sdk: ^3.9.0
  flutter: ">=3.35.1"

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.1.5
  json_annotation: ^4.10.0
  plugin_platform_interface: ^2.1.8
  url_launcher: ^6.3.2

dev_dependencies:
  build_runner: ^2.11.1
  flutter_test:
    sdk: flutter
  import_sorter: ^4.6.0
  json_serializable: ^6.12.0
  mockito: ^5.6.3
  mocktail: ^1.0.4
  very_good_analysis: ^10.2.0

flutter:
  plugin:
    platforms:
      android:
        package: cami.kr.portone_flutter_v2
        pluginClass: PortoneFlutterV2Plugin
      ios:
        pluginClass: PortoneFlutterV2Plugin

import_sorter:
  emojis: true

scripts:
  bootstrap:
    (description): >-
      Initializes the project by generating necessary code, sorting imports,
      applying fixes, and formatting.
    (scripts):
      - $generate
      - $format
  generate:
    (description): Runs code generation builders and sorts imports to set up project files.
    (scripts):
      - dart run build_runner build --delete-conflicting-outputs
  format:
    (description): >-
      Applies automated fixes, sorts imports, and formats the codebase to ensure
      consistent code quality.
    (scripts):
      - dart fix --apply
      - dart format .
      - dart run import_sorter:main -e
  hard:
    (description): >-
      Forces an upgrade of Flutter and its packages to their latest versions and
      updates CocoaPods dependencies for iOS.
    (scripts):
      - flutter upgrade --force
      - flutter pub upgrade --major-versions 2>/dev/null
      - flutter pub upgrade --major-versions --directory example/
  reinstall:
    (description): >-
      Cleans and reinstalls the Flutter project by removing old builds, fetching
      dependencies, running code generators, and formatting the code.
    (scripts):
      - flutter clean
      - flutter pub get
      - flutter pub get --directory example/
      - $bootstrap

cider:
  link_template:
    tag: https://github.com/AndrewDongminYoo/portone_flutter/releases/tag/%tag%
    diff: https://github.com/AndrewDongminYoo/portone_flutter/compare/%from%...%to%
