<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PortOne V2 Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>portone_flutter_v2_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>portone</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipays</string>
		<string>ansimclickipcollect</string>
		<string>ansimclickscard</string>
		<string>chaipayment</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>citispay</string>
		<string>cloudpay</string>
		<string>com.wooricard.wcard</string>
		<string>hanamopmoasign</string>
		<string>hanawalletmembers</string>
		<string>hdcardappcardansimclick</string>
		<string>hyundaicardappcardid</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>kakaobank</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaoplus</string>
		<string>kakaotalk</string>
		<string>kb-acp</string>
		<string>kb-auth</string>
		<string>kb-screen</string>
		<string>kbbank</string>
		<string>kftc-bankpay</string>
		<string>ktauthexternalcall</string>
		<string>lguthepay-xpay</string>
		<string>liivbank</string>
		<string>line</string>
		<string>lmslpay</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>lpayapp</string>
		<string>mailto</string>
		<string>monimopay</string>
		<string>monimopayauth</string>
		<string>mpocket.online.ansimclick</string>
		<string>naversearchthirdlogin</string>
		<string>newliiv</string>
		<string>newsmartpib</string>
		<string>NewSmartPib</string>
		<string>nhallonepayansimclick</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>payco</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick-lpay</string>
		<string>shinhan-sr-ansimclick-mola</string>
		<string>shinhan-sr-ansimclick-naverpay</string>
		<string>shinhan-sr-ansimclick-payco</string>
		<string>shinhan-sr-ansimclick</string>
		<string>shinsegaeeasypayment</string>
		<string>smailapp</string>
		<string>smhyundaiansimclick</string>
		<string>sms</string>
		<string>smshinhanansimclick</string>
		<string>supertoss</string>
		<string>tauthlink</string>
		<string>ukbanksmartbanknonloginpay</string>
		<string>upluscorporation</string>
		<string>v3mobileplusweb</string>
		<string>vguardstart</string>
		<string>weixin</string>
		<string>wooripay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
